<div class="float-left w-100">
  <div class="float-left w-100 advertisement-image-outer-container">
    <img class="w-100" src="https://c8.alamy.com/comp/PRAFG5/vector-diwali-festival-sale-poster-or-flyer-or-advertisement-layout-template-PRAFG5.jpg" alt="">
  </div>
  <div class="float-left w-100 advertisement-image-outer-container">
    <img class="w-100" src="https://c8.alamy.com/comp/PRAFG5/vector-diwali-festival-sale-poster-or-flyer-or-advertisement-layout-template-PRAFG5.jpg" alt="">
  </div>
  <div class="float-left w-100 advertisement-image-outer-container">
    <img class="w-100" src="https://c8.alamy.com/comp/PRAFG5/vector-diwali-festival-sale-poster-or-flyer-or-advertisement-layout-template-PRAFG5.jpg" alt="">
  </div>
  <div class="float-left w-100 advertisement-image-outer-container">
    <img class="w-100" src="https://c8.alamy.com/comp/PRAFG5/vector-diwali-festival-sale-poster-or-flyer-or-advertisement-layout-template-PRAFG5.jpg" alt="">
  </div>
</div>