<header id="header-masterhead" class="banner navbar yamm menu-v2 navbar-fixed-top primary-header container background-white">
  <div id="header-masterhead-inner-container" class="row background-white grey-box-shadow">
    
    <smalldevice-header [categoryList]="categoryList" class="float-left col-sm-12 col-xs-12 col-md-12 col-lg-2 col-xl-2">   
    </smalldevice-header>
    
    <div class="navbar-header col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-none d-lg-block p-0">
      <form class="text-center">
        <input id="search-field" class="searchInputFields col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 border-grey" type="text" placeholder="Search your App" required="true" name="searchInputField" [(ngModel)]="searchInputField">
        <button class="searchInputFields col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 border-grey fa fa-search btn btn-primary" type="submit" (click)="submitAppSearch( this );"></button>
      </form>
    </div>
    <div class="header-links-container col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 position-relative d-none d-lg-block">
      <div class="header-links-inner-container">
        <div id="category-container" class="top-navigation-each-link text-center float-left text-black">
          <a routerLink="#" class="text-black">
            Category
          </a>

          <div class="d-none category-list-container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 background-white grey-box-dark-shadow text-black">
              <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 float-left text-left">
                <span *ngFor="let eachCategory of categoryList[0]['key'] ">
                  {{ eachCategory }}
                </span>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 float-left text-left">
                <span *ngFor="let eachCategory of categoryList[1]['key'] ">
                  {{ eachCategory }}
                </span>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 float-left text-left">
                <span *ngFor="let eachCategory of categoryList[2]['key'] ">
                  {{ eachCategory }}
                </span>
              </div>
          </div>

        </div>
        <!-- <div class="top-navigation-each-link text-center float-left">
          <a href="/">
           Affiliate
          </a>
        </div>
        <div class="top-navigation-each-link text-center float-left">
          <a href="/apps">
           Your Apps
          </a>
        </div>
        <div class="top-navigation-each-link text-center float-left">
          <a href="/postapp">
           Post New App
          </a>
        </div> -->
        <div class="top-navigation-each-link float-left text-center text-black">
         <div class="logged-out-state float-right">
           <!-- <a href="/signup">
            <span class="each-navigation-button">Sign Up</span>
           </a>
           <a href="/signin">
            <span class="each-navigation-button">Log In</span>
           </a>
           <a href="/google_login">
            <span class="each-navigation-button">Log with Google</span>
           </a>
           <span class="fa fa-user"></span> -->
           <!-- <a > -->
              <!-- <span> Register/Login </span> -->
              <span type="" class="" data-toggle="modal" data-target="#loginRegistrationModalCenter">
                Login
              </span>
           <!-- </a> -->
         </div>
         <div class="logged-in-state float-right">
           <a routerLink="/user_home" class="text-black">
              <span class="each-navigation-button">Home</span>
           </a>
           <a routerLink="/subscribe" class="text-black">
              <span class="each-navigation-button">Subscribe</span>
           </a>
           <a routerLink="/transactions" class="text-black">
              <span class="each-navigation-button">Transactions</span>
           </a>
           <a routerLink="/dashboard" class="text-black">
               <span class="each-navigation-button">Dashboard</span>
           </a>
           <a routerLink="/apps" class="text-black">
              <span class="each-navigation-button">App List</span>
           </a>
           <a routerLink="/postapp" class="text-black">
              <span class="each-navigation-button">Post App</span>
           </a>
           <a href="#" class="text-black">
              <span (click)="signOutUser();" class="each-navigation-button">Log Out</span>
           </a>
         </div>
        </div>
      </div>
    </div>
  </div>
</header>
