<footer id="footer">
  <div id="innerFooterContainer" class="container background-white grey-box-bottom-shadow">
    <div class="row">
      <div id="footerSocialMediaOuterContainer" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <a href="#">
          <span class="fa fa-facebook background-red text-white"></span>
        </a>
        <a href="#">
          <span class="fa fa-instagram background-red text-white"></span>
        </a>
        <a href="#">
          <span class="fa fa-twitter background-red text-white"></span>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
    </div>
  </div>
</footer>
