<div id="signUpPage" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <form [formGroup]="form" id="signUpAppInnerContainer" class="form-container" onsubmit="return false;">

        <div class="form-title text-center">Sign Up</div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label class="tagname col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">Name</label>
          <input name="name" formControlName="name" class="inputField col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12" type="text" required="true">
          <span class="text-red" *ngIf="form.controls['name'].required">Please enter valid name.</span>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label class="tagname col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">Email</label>
          <input name="email" formControlName="email" class="inputField col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12" type="email" required="true">
          <span class="text-red" *ngIf="form.controls['email'].dirty && form.controls['email'].errors">Please enter valid email.</span>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label class="tagname col-xs-6 col-sm-6 col-md-9 col-lg-9 col-xl-9">Profession</label>
          <select formControlName="profession" name="profession" class="tagname col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 inputField">
              <option>Developer</option>
              <option>Engineer</option>
          </select>
          <span class="text-red" *ngIf="form.controls['profession'].errors">Please select profession.</span>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label class="tagname col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">Age(Optional)</label>
          <input name="age" formControlName="age" class="inputField col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12" type="number">
          <span class="text-red" *ngIf="form.controls['age'].dirty && form.controls['age'].errors">Please enter your age.</span>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label class="tagname col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">Password</label>
          <input name="password" formControlName="password" class="inputField col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12" type="password" required="true">
          <span class="text-red" *ngIf="form.controls['password'].dirty && form.controls['password'].errors">Please enter your password.</span>
        </div>

        <div *ngIf="isErrorOccured" class="text-red text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-1 float-left">
          Something went wrong
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
          <input (click)="submitSignUpUser()" class="inputSubmitField col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12 background-red text-white" type="Submit" value="Submit">
        </div>

      </form>
    </div>
  </div>
</div>
