#get-review-upload-app{
    // margin: 10px;
    padding: 15px;
    .eachAppContainer {
        border: 1px solid #e2e2e2;
        border-radius: 5px;
        margin: 5%;
        margin-bottom: 10px;
        padding: 10px;
        width: 90% !important;
    }
    .app-image{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        min-height: calc(90px);
    }
}