<div id="viewProfilePage" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt-4 pr-4">
      <a class="border-grey p-1 border-radius-5-pixels cursor-pointer float-right text-black" routerLink='/customer/edit_profile'>
        <span class="each-navigation-button">Edit Profile</span>        
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
      <form class="form-container">
        <div class="form-title text-center pb-4">View Profile</div>
        
        <div *ngFor="let eachProfile of profileDetails" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
          <label class="tagname col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 float-left">{{ eachProfile.identifier }}</label>
          <div class="valuename col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 float-left">{{ eachProfile.value }}</div>
        </div>

      </form>
    </div>
  </div>
</div>
