
$grey-color: #9e9e9e96;

$blue-color-text: #007bff;
$red-color-text: #e5212d;
$green-color-text: #28a745;
$black-color-text: #212529;
$white-color-text: #ffffff;

$light-blue-color-text: #0069d9;
$light-red-color-text: #e521217a;
